<div class="items-container">
    <div appDraggable>
        <svg height="100" width="100">
            <circle id="circle-red" cx="50" cy="50" r="40" stroke="black" fill="red" />
        </svg>
    </div>
    <div appDraggable>
        <svg height="100" width="100">
            <circle id="circle-blue" cx="50" cy="50" r="40" stroke="black" fill="blue" />
        </svg>
    </div>
    <div appDraggable>
        <svg height="100" width="100">
            <circle id="circle-green" cx="50" cy="50" r="40" stroke="black" fill="green" />
        </svg>
    </div>
</div>
<div class="dropzone-container" style="width: 800px; height: 800px" appDroppable>
    <svg id="dropzone" xmlns="http://www.w3.org/2000/svg" style="display: inline; width: inherit; min-width: inherit; max-width: inherit; height: inherit; min-height: inherit; max-height: inherit;" version="1.1">
        <circle id="circle-green" cx="50" cy="50" r="40" stroke="black" fill="green" />
    </svg>
</div>